@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;1,400&family=Ruthie&display=swap");

/*
========================
VARIABLES
========================
*/

:root {
  /*Colors*/
  --beige: #fff4ec;
  --orange: #ffd6b8;
  --brown: #47423f;
  --white: #ffffff;
  /*Fonts*/
  --regular: "Montserrat", sans-serif;
  --handwriting: "Ruthie", cursive;
}

/*
========================
GLOBAL STYLES
========================
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
  body {
    background-color: var(--orange);
  }
}
@media screen and (min-width: 1024px) {
  .blogBox {
    background-color: var(--white);
    width: 80%;
    margin: 0 auto;
  }
}

/*=========================================================*/
/*
========================
Components Styles
========================
*/
/*=========================================================*/

/*Ligne*/

.ligne {
  height: 2px;
  background-color: var(--orange);
  width: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.bigTitle-h1 {
  font-family: var(--handwriting);
  color: var(--brown);
  letter-spacing: 3px;
  text-align: center;
  font-size: 38px;
  margin-bottom: 10px;
}

.subTitle-h1 {
  font-family: var(--handwriting);
  color: var(--brown);
  letter-spacing: 4px;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  margin: 0 auto;
  margin-bottom: 10px;
}

/*NavBar-Navigation*/

.navBar {
  height: 100px;
  background-color: var(--beige);
}
@media screen and (min-width: 1024px) {
  .navBar {
    width: 80%;
    margin: 0 auto;
  }
}

.openCloseBtn {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 0;
  left: 5%;
  margin: 20px 10px 10px 0;
  width: 50px;
  height: 30px;
  cursor: pointer;
  z-index: 9999;
  transition: all 0.5s;
}
@media screen and (min-width: 768px) {
  .openCloseBtn {
    display: none;
  }
}

.openCloseBtn .line {
  width: 80%;
  height: 3px;
  background: var(--brown);
  transition: all 1s;
}

.openCloseBtn .line-1 {
  width: 40%;
}

.openCloseBtn .line-2 {
  width: 60%;
}

.openCloseBtn.change {
  position: fixed;
  left: 48%;
  transition: all 0.9s;
}

.openCloseBtn.change .line {
  background: var(--beige);
}

.openCloseBtn.change .line-1 {
  width: 80%;
  transform: rotateZ(-405deg) translate(-20px, 6px);
}
.openCloseBtn.change .line-2 {
  width: 80%;
  opacity: 0;
}
.openCloseBtn.change .line-3 {
  transform: rotateZ(405deg) translate(-8px, 6px);
}

/*========== Global links style ====(start)========*/

.linksItemsMs li,
.linksItemsXs li {
  position: relative;
  padding: 5px 0;
}

.linksItemsMs li::before,
.linksItemsMs li::after,
.linksItemsXs li::before,
.linksItemsXs li::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--orange);
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.linksItemsMs li::after,
.linksItemsXs li::after {
  bottom: 0;
  transform-origin: right;
}

.linksItemsMs li::before,
.linksItemsXs li::before {
  top: 0;
  transform-origin: left;
}

.linksItemsMs li:hover::after,
.linksItemsMs li:hover::before,
.linksItemsXs li:hover::after,
.linksItemsXs li:hover::before {
  transform: scaleX(1);
  transition: transform 0.5s;
}

.linksItemsXs li a,
.linksItemsMs li a {
  text-decoration: none;
}

.linksItemsMs li a.active {
  border-top: 2px solid var(--brown);
  border-bottom: 2px solid var(--brown);
}

/*========== Global links style ====(end)========*/

/*Xscreen - Navigation*/

.overlayContainer {
  position: fixed;
  background-color: var(--brown);
  border-radius: 0 15% 60% 0;
  height: 100%;
  width: 100%;
  left: -100%;
  z-index: 9999;
  transition: all 0.6s ease-in-out;
}
@media screen and (min-width: 768px) {
  .overlayContainer {
    display: none;
  }
}

.overlayContainer.active {
  left: -35%;
  transition: all 0.6s ease-in-out;
}

.overlayContainer .linksItemsXs {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlayContainer .linksItemsXs li {
  text-transform: uppercase;
  font-style: italic;
  font-size: 25px;
  font-family: var(--regular);
  letter-spacing: 10px;
  list-style-type: none;
  margin: 20px;
  margin-left: 30%;
}

.linksItemsXs li a {
  color: var(--white);
}

/*Mscreen - Navigation*/

.linksItemsMs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}

.linksItemsMs li {
  text-transform: uppercase;
  font-style: italic;
  font-size: 14px;
  font-family: var(--regular);
  letter-spacing: 10px;
  list-style-type: none;
  margin: 20px;
  display: none;
}

@media screen and (min-width: 768px) {
  .linksItemsMs li {
    display: block;
  }
}

.linksItemsMs li a {
  color: var(--brown);
}

/*BlogTitle*/

.blogTitleContainer {
  position: relative;
  padding: 40px 20px 0 0;
}

.logoTitle {
  position: absolute;
  top: -22px;
  left: 88%;
}

/*About*/

.About {
  margin-top: 30px;
  margin-bottom: 120px;
}

@media screen and (min-width: 768px) {
  .About {
    width: 95%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1024px) {
  .About {
    width: 80%;
  }
}

.imgContainter {
  width: 360px;
  height: 360px;
}
@media screen and (min-width: 1024px) {
  .imgContainter {
    width: 360px;
    height: 360px;
  }
}

.imgContainter img {
  width: 100%;
  height: 100%;
}

.description {
  position: absolute;
  top: 400px;
  left: 100px;
  padding: 20px;
  border: 3px solid var(--beige);
  background-color: rgba(255, 255, 255, 0.911);
  width: 74vw;
  height: auto;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .description {
    width: 56vw;
    top: 330px;
    left: 316px;
  }
}
@media screen and (min-width: 1024px) {
  .description {
    left: 488px;
    width: 49vw;
  }
}
@media screen and (min-width: 1440px) {
  .description {
    width: 698px;
    height: auto;
    left: 548px;
  }
}

.description h3 {
  font-size: 19px;
  font-family: var(--regular);
  color: var(--brown);
  letter-spacing: 3px;
  text-align: center;
}

.description p {
  width: 95%;
  padding: 10px;
  font-family: var(--regular);
  color: var(--brown);
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
}

/*Article Category*/

.cardsContainer {
  display: grid;
  grid-template-columns: 1fr;
}

.cardsContainer:hover .cardItems {
  backdrop-filter: blur(5px);
}

.cardsContainer:hover .cardItems:not(:hover) {
  filter: grayscale(100%);
}

@media screen and (min-width: 768px) {
  .cardsContainer {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
      "card1 card1 card2 card2"
      "card3 card3 card3 card3";
  }
  .cardsContainer > .cardItems:nth-child(1) {
    grid-area: card1;
  }
  .cardsContainer > .cardItems:nth-child(2) {
    grid-area: card2;
  }
  .cardsContainer > .cardItems:nth-child(3) {
    grid-area: card3;
  }
}

@media screen and (min-width: 1024px) {
  .cardsContainer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "card1 card2 card3";
  }
  .cardsContainer > .cardItems:nth-child(2) {
    flex-direction: column-reverse;
  }
}

.cardItems {
  width: 100%;
  height: 100%;
  background-color: var(--beige);
  position: relative;
  display: flex;
  flex-direction: column;
}

.imgBox {
  width: 100%;
  height: 220px;
  overflow: hidden;
  background-color: black;
}

.imgBox .cardImg {
  width: 100%;
  height: 100%;
}

.quoteBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 220px;
  background-color: var(--beige);
}

.quoteBox p {
  font-family: var(--handwriting);
  color: var(--brown);
  font-size: 20px;
}

.quoteBox .ligne {
  width: 40%;
  height: 1.6px;
  background-color: var(--brown);
  margin-top: 10px;
}

/*buttonEffect*/
.quoteBox .btn {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 8px 15px;
  text-align: center;
  font-size: 12px;
  font-family: var(--regular);
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: #999999;
  background: #ffffff;
  border: 3px solid #999999;
  cursor: pointer;
  transition: ease-out 0.5s;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
}

.quoteBox .btn.btn-border-1::after,
.quoteBox .btn.btn-border-1::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 0%;
  visibility: hidden;
}

.quoteBox .btn.btn-border-1::after {
  bottom: -3px;
  right: -3px;
  border-left: 3px solid var(--brown);
  border-bottom: 3px solid var(--brown);
  transition: width 0.1s ease 0.1s, height 0.1s ease, visibility 0s 0.2s;
}

.quoteBox .btn.btn-border-1::before {
  top: -3px;
  left: -3px;
  border-top: 3px solid var(--brown);
  border-right: 3px solid var(--brown);
  transition: width 0.1s ease 0.3s, height 0.1s ease 0.2s, visibility 0s 0.4s;
}

.quoteBox .btn.btn-border-1:hover {
  animation: pulse 1s ease-out 0.4s;
  color: var(--brown);
}

.quoteBox .btn.btn-border-1:hover::after,
.quoteBox .btn.btn-border-1:hover::before {
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  visibility: visible;
  transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s;
}

.quoteBox .btn.btn-border-1:hover::after {
  transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s;
}

.quoteBox .btn.btn-border-1:hover::before {
  transition: width 0.1s ease, height 0.1s ease 0.1s;
}

/*Lastest Articles */
.avatar {
  position: absolute;
  top: 38%;
  left: 18%;
}
@media screen and (min-width: 768px) {
  .avatar {
    left: 35%;
  }
}

.articleContainer {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .articleContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
}

.articleBox {
  height: 100%;
}

.articleContainer .articleImageContainer {
  width: 100%;
  height: 320px;
}

@media screen and (min-width: 768px) {
  .articleContainer .articleImageContainer {
    width: 300px;
    height: 260px;
    margin-left: 5px;
  }
}

.articleContainer .articleImageContainer .articleCardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.articleCard {
  position: relative;
  width: 55vw;
  margin-top: -100px;
  box-shadow: 2px 5px 8px 2px var(--brown);
  margin-left: 5px;
}
@media screen and (min-width: 768px) {
  .articleCard {
    margin-right: 5px;
    margin-top: 0;
    height: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .articleCard {
    width: 600px;
  }
}

.articleCard .cardTop {
  background-color: var(--beige);
  padding: 20px 0;
}

.articleCard .cardTop a {
  text-decoration: none;
  color: var(--white);
  font-family: var(--regular);
  font-size: 10px;
  font-style: italic;
  margin-left: 10px;
  background-color: var(--brown);
  padding: 5px 10px;
  border-radius: 10px;
}
.articleCard .cardTop a:hover {
  text-decoration: underline;
}

.articleCard .articleText {
  padding: 15px 10px;
  background-color: white;
  overflow: hidden;
}

.articleCard .articleText h3 {
  color: var(--orange);
  font-weight: bold;
  font-family: var(--regular);
  text-align: center;
  text-transform: uppercase;
}

.articleCard .articleText p {
  padding: 20px 5px;
  font-family: var(--regular);
  color: var(--brown);
  font-size: 12px;
  font-weight: lighter;
  text-align: center;
}

.articleCard .cardBottom {
  background-color: var(--beige);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.articleCard .cardBottom .btn a {
  font-family: var(--regular);
  text-decoration: none;
  color: var(--brown);
  background-color: white;
  border: 2px solid var(--brown);
  padding: 6px 12px;
  font-size: 11px;
  font-style: italic;
  cursor: pointer;
  position: relative;
  top: -20px;
}
.articleCard .cardBottom .btn a:hover {
  background-color: var(--brown);
  color: white;
  font-weight: bold;
}

.articleCard .cardBottom span {
  align-self: flex-end;
  font-family: var(--regular);
  color: var(--brown);
  font-size: 9px;
  margin-right: 5px;
  font-style: italic;
  border-bottom: 1px solid var(--brown);
  padding: 5px;
  border-radius: 5px;
}

.articleNumber {
  height: 80px;
  width: 80px;
  background-color: var(--orange);
  position: absolute;
  top: 80%;
  left: 71%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--handwriting);
  color: var(--brown);
}
.articleNumber span:nth-child(1) {
  margin-top: -6px;
  font-size: 16px;
  font-weight: bold;
}
.articleNumber span:nth-child(2) {
  font-size: 33px;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .articleNumber {
    top: -4%;
    left: 90%;
    opacity: 0.8;
  }
}
@media screen and (min-width: 1024px) {
  .articleNumber {
    left: 92%;
  }
}
@media screen and (min-width: 1440px) {
  .articleNumber {
    left: 85%;
  }
}

/* Articles Special features*/
.articlesContainer > .articleContainer:nth-child(even) > .articleBox {
  display: flex;
  flex-direction: row-reverse;
}

.articlesContainer
  > .articleContainer:nth-child(even)
  > .articleBox
  .articleNumber {
  left: 10%;
}
@media screen and (min-width: 768px) {
  .articlesContainer
    > .articleContainer:nth-child(even)
    > .articleBox
    .articleNumber {
    top: -4%;
    left: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .articlesContainer
    > .articleContainer:nth-child(even)
    > .articleBox
    .articleNumber {
    left: 92%;
  }
}
@media screen and (min-width: 1440px) {
  .articlesContainer
    > .articleContainer:nth-child(even)
    > .articleBox
    .articleNumber {
    left: 85%;
  }
}

.articlesContainer
  > .articleContainer:nth-child(even)
  > .articleBox
  .articleCard {
  width: 55vw;
  box-shadow: 2px 5px 8px 2px var(--brown);
  margin-left: 0px;
  margin-right: 5px;
}
@media screen and (min-width: 768px) {
  .articlesContainer
    > .articleContainer:nth-child(even)
    > .articleBox
    .articleCard {
    margin-right: 5px;
    margin-left: 5px;
  }
}
@media screen and (min-width: 1440px) {
  .articlesContainer
    > .articleContainer:nth-child(even)
    > .articleBox
    .articleCard {
    height: 100%;
    width: 600px;
  }
}

/*ForMore8*/
.forMore {
  background-color: var(--beige);
  margin: 20px 0 0 0;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forMore a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  border: 2px solid var(--brown);
  padding: 15px 15px;
  color: var(--white);
  font-family: var(--regular);
  background-color: var(--brown);
}
.forMore a:hover {
  background-color: var(--white);
  color: var(--brown);
  font-weight: bold;
}

/*Pagination*/
.pagination {
  background-color: var(--beige);
  margin: 20px 0 0 0;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination a {
  margin: 0 20px;
}
.pagination a.lastPage,
.pagination a.firstPage {
  display: none;
}

.endLogo {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

/*Form Section*/
.formContainer {
  background-color: var(--beige);
  padding-top: 30px;
  padding-bottom: 60px;
}

.formInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--regular);
  font-size: 12px;
  color: var(--brown);
  padding: 15px 10px;
}

.formInfo span:nth-child(1) {
  text-transform: uppercase;
  font-size: 13px;
}

.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .registerForm {
    flex-direction: row;
    margin: 0 20px;
    width: 80%;
    margin: 0 auto;
  }
}

.registerForm .formField {
  width: 50%;
  border: none;
  margin: 5px;
  padding: 3px;
  font-family: var(--regular);
  color: var(--brown);
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .registerForm .formField {
    margin: 0 10px;
  }
}

.registerForm .formField:nth-child(1),
.formField:nth-child(2) {
  width: 40%;
  font-style: italic;
}
.formField:nth-child(3) {
  font-style: italic;
}

.registerForm .formField:nth-child(4) {
  width: 60%;
  background-color: var(--brown);
  color: var(--beige);
  font-size: 14px;
  font-weight: bolder;
  border: 1px solid var(--brown);
  cursor: pointer;
}
.registerForm .formField:nth-child(4):hover {
  background-color: var(--beige);
  color: var(--brown);
}

/*Greeting Box*/
.greetingContainer {
  background-color: var(--beige);
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
  padding-bottom: 30px;
}

.greetingContainer .box1 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
}

.greetingContainer .box1 span {
  rotate: -30deg;
  font-family: var(--handwriting);
  letter-spacing: 3px;
  color: var(--brown);
  font-size: 22px;
}

.greetingContainer .box1 img {
  width: 60px;
  position: absolute;
  top: 50%;
  left: 60%;
}

.greetingContainer .seperationLigne {
  background-color: var(--brown);
  width: 1px;
  height: 100px;
}

.greetingContainer .box2Btn {
  background: none;
  border: none;
}

.greetingContainer .box2Btn img {
  cursor: pointer;
  width: 80px;
}

/*Footer*/
.Footer {
  background-color: white;
  padding: 10px 20px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.Footer span {
  font-size: 9px;
  font-family: var(--regular);
  color: var(--brown);
  letter-spacing: 3px;
}

/*Tag PAGE*/
.thoughtsContainer {
  margin-bottom: 40px;
}
.thoughtsContainer .imageBox {
  width: 100%;
  height: 360px;
  margin-top: 30px;
}
@media screen and (min-width: 1024px) {
  .thoughtsContainer .imageBox {
    margin-top: 0;
  }
}
.thoughtsContainer .imageBox .sideImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thoughtsContainer .separation {
  height: 1px;
  width: 60%;
  background-color: var(--orange);
  margin: 30px auto;
}
@media screen and (min-width: 1024px) {
  .thoughtsContainer .separation {
    display: none;
  }
}

.thoughtsContainer .pageTag {
  position: absolute;
  top: 100px;
  left: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--beige);
  height: 400px;
  font-family: var(--handwriting);
  font-size: 33px;
  border: 1px solid var(--brown);
}

.thoughtsContainer .pageTag span {
  rotate: 270deg;
}

@media screen and (min-width: 1024px) {
  .thoughtsContainer .pageTag {
    top: 50%;
    left: 2%;
  }
}

.noNeed {
  visibility: hidden;
}

@media screen and (min-width: 1024px) {
  .thoughtsContainer {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "imagebox articlebox articlebox articlebox"
      "imagebox articlebox articlebox articlebox"
      "form form form form"
      ". . greeting greeting";
  }
  .thoughtsContainer .imageBox {
    grid-area: imagebox;
    height: 100%;
    max-height: 1300px;
  }
  .thoughtsContainer .articleBox {
    grid-area: articlebox;
  }
  .thoughtsContainer .articleCard,
  .thoughtsContainer .articleContainer:nth-child(2) > .articleBox .articleCard {
    width: 30vw;
  }
  .thoughtsContainer .articleImageContainer {
    width: 260px;
  }

  .thoughtsContainer .articleNumber,
  .thoughtsContainer
    .articlesContainer
    > .articleContainer:nth-child(2)
    > .articleBox
    .articleNumber {
    background-color: var(--beige);
    left: 85%;
  }
  .thoughtsContainer > .formContainer {
    background-color: var(--orange);
    width: 80%;
    margin: 0 auto;
    grid-area: form;
  }

  .thoughtsContainer > .greetingContainer {
    background-color: var(--orange);
    grid-area: greeting;
  }
}

@media screen and (min-width: 1440px) {
  .thoughtsContainer .articleContainer {
    justify-content: flex-start;
  }

  .thoughtsContainer .articleImageContainer {
    width: 300px;
  }
  .thoughtsContainer .articleCard,
  .thoughtsContainer .articleContainer:nth-child(2) > .articleBox .articleCard {
    width: 35vw;
  }
  .thoughtsContainer .articleNumber,
  .thoughtsContainer
    .articlesContainer
    > .articleContainer:nth-child(2)
    > .articleBox
    .articleNumber {
    left: 90%;
  }
  .thoughtsContainer .articleCard,
  .thoughtsContainer .articleContainer:nth-child(2) > .articleBox .articleCard {
    margin-right: 25px;
  }
}

/*TemplateArticle*/
.readContainer .headerImage {
  height: 350px;
  width: 100%;
}

.readContainer .imageHeader {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.readContainer .readMenu {
  background-color: #47423fd2;
  position: absolute;
  top: 138px;
  left: 12px;
  border: 1px solid white;
  color: white;
  font-family: var(--regular);
  text-transform: uppercase;
  text-align: center;
  width: 150px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  z-index: 1;
}
@media screen and (min-width: 1024px) {
  .readContainer .readMenu {
    top: 269px;
    left: 180px;
  }
}

.readContainer .readMenu .pageLinks {
  list-style-type: none;
}

.readContainer .readMenu .pageLinks li a {
  text-decoration: none;
  line-height: 35px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  letter-spacing: 8px;
  width: 100%;
  height: 100%;
}
.readContainer .readMenu .pageLinks li a:hover {
  text-decoration: underline;
}

.readContainer .textContent {
  width: 95%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  font-family: var(--regular);
  color: var(--brown);
  margin-top: -80px;
}
@media screen and (min-width: 1024px) {
  .readContainer .textContent {
    width: 65%;
  }
}

.readContainer .textContent .title h3 {
  padding: 8px 0;
  background-color: white;
  font-size: 23px;
  font-weight: bold;
  box-shadow: 2px 2px 2px 2px var(--brown);
}

.readContainer .textContent .title a {
  font-style: italic;
  font-size: 14px;
  color: var(--white);
  padding: 5px 15px;
  border-radius: 5px;
  background-color: var(--brown);
  text-decoration: none;
}
.readContainer .textContent .title a:hover {
  text-decoration: underline;
}

.readContainer .textContent .textBox {
  background-color: white;
  box-shadow: 2px 2px 2px 2px var(--brown);
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.readContainer .textContent .textBox .articleAvatar {
  padding: 10px 0;
}

.readContainer .textContent .textBox .ligneTop {
  height: 2px;
  background-color: var(--brown);
  width: 40%;
  margin: 5px 0 30px 10px;
}

.readContainer .textContent .textBox p {
  width: 90%;
  margin: 0 auto;
  font-size: 12px;
}

.readContainer .textContent .textBox .ligneBottom {
  height: 2px;
  background-color: var(--brown);
  width: 40%;
  margin: 30px 10px 20px 0;
  align-self: flex-end;
}

.readContainer .textContent .textBox .date {
  font-style: italic;
}

.readContainer .textContent .textBox .socialLinks {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}
.readContainer .textContent .textBox .socialLinks span:nth-child(1) {
  font-size: 10px;
  font-weight: bold;
}

.readContainer .textContent .textBox .socialLinks .socialButton .socialLine {
  height: 1px;
  width: 50px;
  margin: 5px auto;
  background-color: var(--brown);
}

.readContainer .textContent .textBox .socialLinks .socialButton span {
  margin: 0 3px;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .readContainer .textContent .formContainer {
    background-color: var(--orange);
  }
  .readContainer .textContent .greetingContainer {
    background-color: var(--orange);
  }
}

/*aboutPage*/
.aboutPage {
  height: 100vh;
}
@media screen and (min-width: 1024px) {
  .aboutPage {
    width: 80%;
    margin: 0 auto;
  }
}

/*blogPage*/
@media screen and (min-width: 1024px) {
  .blogPage {
    width: 80%;
    margin: 0 auto;
  }
}
